@advantages-text: #000000;
@advantages-background: #F2F2F2;

.advantages {
  color: @advantages-text;
  background-color: @advantages-background;
}

.advantages__wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.advantages__list {
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
}
