.catalog__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.catalog {
  text-align: center;
  position: relative;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 550px 400px 400px 400px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 550px 400px 400px;
  }
}

.catalog__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 280px;
  display: block;
}

.catalog__item {
  margin-bottom: 20px;
  min-width: 280px;

  @media (min-width: @tablet-width) {
    min-width: 280px;
  }
}

.catalog__name {
  font-weight: 700;
}

.catalog__description {
  width: 280px;
  text-align: left;
  background-color: #f2f2f2;
}

.catalog__quantity {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__editor-wrapper {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.catalog__item-panorama {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.catalog__photo-panorama {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
  padding: 10px 16px;
  display: block;
  position: absolute;
  left: 330px;
}

.catalog__editor-list {
  display: flex;
  flex-direction: column;
}

.catalog__editor-item {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.catalog__editor-flex {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.catalog__editor-button {
  border: none;
}

.catalog__range--tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.catalog__range--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog__editor-send {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #d22856;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 19px 90px;
}

.catalog__editor-reset {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #283645;
  opacity: 0.1;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 19px 90px;
}
