.catalog__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.catalog {
  text-align: center;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 550px 400px 400px 400px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 550px 400px 400px;
  }
}

.catalog__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.catalog__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  min-width: 280px;

  @media (min-width: @tablet-width) {
    min-width: 280px;
  }
}

.catalog__name {
  font-weight: 700;
}

.catalog__description {
  text-align: left;
}

.catalog__quantity {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__editor-wrapper {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog__item-panorama {

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
