.catalog__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.catalog {
  text-align: center;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.catalog__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  width: 280px;
}

.catalog__name {
  font-weight: 700;
}

.catalog__description {
  text-align: left;
}

.catalog__quantity {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__editor-wrapper {
  background-color: #f2f2f2;
}
