.contacts {
  text-align: center;
}

.contacts__description {
  font-size: 24px;
  line-height: 28, 8px;
  font-weight: 300;

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 24, 51px;
  font-weight: 700;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.contacts__text {
  text-decoration: none;
  color: #d22856;
  font-size: 24px;
  line-height: 32, 68px;
}
