@text-color: #FFFFFF;
@download-background: #1D2631;

.download {
  color: @text-color;
  background-color: @download-background;
}

.download__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.download__wrapper {
  text-align: center;
}

.download__slogan {
  font-size: 24px;
  line-height: 29px;
  height: 462px;
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
}

.download__intro {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
  border-radius: 29px;
  text-decoration: none;
  color: white;
}

.download__legend {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
