.effect__block {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.effect__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.effect__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.effect__description-red {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
}
