.form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.form__helper,
.form__field-textarea {
  text-align: left;
}

.form__group-title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.form__checkbox-label,
.form__radio-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__helper--grey {
  background-color: #f2f2f2;
}

.form__obligatory {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.form__field-title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.form__field-input {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 78px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.form__helper-textrarea {
  text-align: center;
}

.form__field-textarea {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 22px;
  padding-bottom: 132px;
}

.form__radio {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
