.form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.form__helper,
.form__field-textarea {
  text-align: left;
}

.form__helper {
  display: flex;
  flex-direction: column;
}

.form__group-title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.form__checkbox-label,
.form__radio-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__helper--grey {
  background-color: #f2f2f2;
}

.form__obligatory {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.form__field-title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.form__field-input {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 78px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.form__helper-textrarea {
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.form__field-textarea {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 22px;
  padding-bottom: 132px;
}

.form__radio {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.form__choice {
  text-align: left;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
  }
}

.form__radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
  }
}

.form__grid {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 300px 300px 550px 300px 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 200px 250px 250px 60px;
  }
}

.form__helper--data {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.form__helper--progress {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.form__helper--app {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.form__helper--contacts {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.form__group {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
