@offer-background: #FFFFFF;
@offer-text: #283645;

.offer {
  background-color: @offer-background;
  color: @offer-text;
  font-size: 24px;
  line-height: 28, 8px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0;
  }
}

.offer__item-1 {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 65px;
    width: 780px;
    padding-left: 285px;
  }
}

.offer__item-2 {
  @media (min-width: @desktop-width) {
    margin: 0;
    width: 500px;
    padding-left: 425px;
  }
}
