.page-footer__wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
