.page__title {
  color: white;
  font-size: 24px;
  font-weight: 300;
  line-height: 32, 68px;
  min-height: 171px;
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
  background-color: #1d2631;

  @media (min-width: @tablet-width) {
    height: 330px;
    background-image: url("../../img/form-back-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
      background-size: 1338px auto;
    }
  }

  @media (min-width: @desktop-width) {
    height: 330px;
    background-image: url("../../img/back-desktop.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    padding-top: 100px;
  }
}

.page-main {
  text-align: center;
  margin: 0 auto;
}
